/* COULEURS */
    // Background colors
    $lightBgGrey: #EDEDED;
    $mainBgGrey: #D9D9D9;
    $darkBgGrey: #838383;

    $mainBgBlue: #0F62FE;

    $lightBgRed: #FFD7D9;
    $mainBgRed: #DA1E28;

    // Font Colors
    $mainFontBlack: #181818;
//