/* COULEURS */
/* Position & Display classes */
.posFixed, .mainMenus, .headerMenu, .footerMenu, .footerMenu--welcome {
  position: fixed;
}

.posAbsolute, .login_formWrapper .login_registerLink::after {
  position: absolute;
}

.flexCol, .login_formWrapper {
  flex-direction: column;
}

/* Size & space classes */
.marginInlineCenter {
  margin-inline: auto;
}

.marginBlockCenter {
  margin-block: auto;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  min-height: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  color: #181818;
}

.mainMenus, .footerMenu, .footerMenu--welcome, .headerMenu {
  width: 100%;
  max-height: 6rem;
  padding: 0.75em 2em;
}
.mainMenus *, .footerMenu *, .footerMenu--welcome *, .headerMenu * {
  margin: 0;
}

.mainMenus_img {
  max-height: 2em;
}

.headerMenu {
  background-color: #0F62FE;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5em;
  color: white;
}
.headerMenu h1, .headerMenu h2, .headerMenu h3, .headerMenu h4, .headerMenu h5, .headerMenu h6 {
  font-weight: 300;
}
.headerMenu + main {
  margin-top: 6rem;
}

.footerMenu, .footerMenu--welcome {
  background-color: #EDEDED;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.footerMenu--welcome {
  justify-content: center;
}
.footerMenu + main, .footerMenu--welcome + main {
  margin-bottom: 6rem;
}

.mainInput {
  padding: 0.75em 0.5em;
  background-color: #EDEDED;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  color: #838383;
}

label + .mainInput {
  margin-top: 0.75em;
}

.mainBtn, .mainBtn--red, .mainBtn--center, .mainBtn--noHeight {
  min-height: 4lh;
  padding: 1em;
  padding-right: 2.5em;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0;
  border: none;
  background-color: #0F62FE;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  cursor: pointer;
}
.mainBtn--red {
  background-color: #DA1E28;
}
.mainBtn--center {
  justify-content: center;
  text-align: center;
}
.mainBtn--noHeight {
  min-height: none;
}

.sessionTag {
  padding: 0.333em 0.666em;
  display: inline-block;
  border-radius: 100px;
  background-color: #FFD7D9;
  color: #DA1E28;
}

#login_main {
  width: 100%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.login_formWrapper {
  width: clamp(60%, 90%, 800px);
  max-width: 800px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.login_formWrapper form {
  width: 100%;
  display: inherit;
  flex-direction: inherit;
}
.login_formWrapper label, .login_formWrapper .logSubmit, .login_formWrapper aside {
  margin-top: 3rem;
}
.login_formWrapper .logSubmit {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 0;
}
.login_formWrapper .mainBtn {
  min-width: 100px;
}
.login_formWrapper aside {
  align-self: flex-end;
  font-weight: 600;
}
.login_formWrapper .login_registerLink {
  display: inline-block;
  position: relative;
  margin-right: 2.5em;
  color: inherit;
  font-size: 2rem;
  font-weight: inherit;
  text-decoration: none;
}
.login_formWrapper .login_registerLink::after {
  width: 1.25em;
  height: 1.25em;
  content: "";
  display: inline-block;
  bottom: 0;
  right: -2.5em;
  background-image: url("../img/ico_forward--blue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#home_main {
  padding: 5vh 2.5vw;
}

section {
  width: 100%;
  height: fit-content;
}

.home_scheduledSessSection {
  max-width: 400px;
}

.home_sectionH2 {
  width: 100%;
  border-bottom: 1px solid #181818;
}

.home_sessionItem {
  max-width: 400px;
  width: 100%;
  margin-bottom: 2em;
}

.home_sessionItem_bottomWrapper {
  max-height: 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.home_sessionItem_bottomWrapper .home_sessionItem_tagsWrapper {
  height: 2em;
}
.home_sessionItem_bottomWrapper .home_sessionItem_interactIcoWrapper {
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75em;
}
.home_sessionItem_bottomWrapper .home_sessionItem_iconWrapper {
  height: 1em;
  width: auto;
}
.home_sessionItem_bottomWrapper .home_sessionItem_iconWrapper img {
  max-height: 100%;
  object-fit: contain;
}

.home_scheduledSessSection_startWrapper {
  margin-left: auto;
}
.home_scheduledSessSection_startWrapper button {
  margin-left: inherit;
}

@media screen and (min-width: 800px) {
  #home_main {
    padding: 5vh 2.5vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10%;
  }

  .home_scheduledSessSection {
    max-height: 75vh;
    overflow-y: scroll;
  }

  .home_startSection {
    min-width: 450px;
    padding: 10vh 1vw 1vh 1vw;
    position: fixed;
    bottom: 9vh;
    left: 1.5vw;
    background: white;
    background: linear-gradient(0deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(5px);
  }

  .home_passedSessSection_itemsWrapper {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
