/* Position & Display classes */
.posFixed {
    position: fixed;
}
.posAbsolute {
    position: absolute;
}
.flexCol {
    flex-direction: column;
}

/* Size & space classes */
.marginInlineCenter {
    margin-inline: auto;
}
.marginBlockCenter {
    margin-block: auto;
}

/* Fonts classes */
.h {
    font-weight: 800;

    &1, &2, &3, &4, &5, &6 {@extend .h;} 
    &1 {font-size: 2em;}
    &2 {font-size: 1.5em; font-weight: 700;}
    &3 {font-size: 1.25em; font-weight: 600;}
}