@use "../assets.scss" as *;



#home_main {
    padding: 5vh 2.5vw;
}

$maxW: 400px;
section {
    width: 100%;
    height: fit-content;
}
.home_scheduledSessSection {
    max-width: $maxW;
    // display: inline-block;
}
.home_sectionH2 {
    width: 100%;
    border-bottom: 1px solid $mainFontBlack;
}

.home_sessionItem {
    max-width: $maxW;
    width: 100%;
    margin-bottom: 2em;
}

$maxH: 2em;
.home_sessionItem_bottomWrapper {
    max-height: $maxH;

    @include flex(space-around, center, 1em);

    .home_sessionItem_tagsWrapper {
        height: $maxH;
    }
    .home_sessionItem_interactIcoWrapper {
        height: $maxH;
        @include flex(space-between, center, .75em);
    }
    .home_sessionItem_iconWrapper {
        height: calc($maxH - 1em);
        width: auto;

        img {
            max-height: 100%;
            object-fit: contain;
        }
    }
}
.home_scheduledSessSection_startWrapper {
    margin-left: auto;

    button {
        margin-left: inherit;
    }
}



@media screen and (min-width: calc($maxW*2)) {
    #home_main {
        padding: 5vh 2.5vw;
    
        @include flex(space-between, start, 10%);
    }

    .home_scheduledSessSection {
        max-height: 75vh;
        overflow-y: scroll;
    }
    .home_startSection {
        min-width: calc($maxW + 50px);
        padding: 10vh 1vw 1vh 1vw;

        position: fixed;
        bottom: 9vh;
        left: 1.5vw;

        background: white;
        background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
        // -webkit-mask-image: linear-gradient(to top,black 10%,transparent 80%);
        // mask-image: linear-gradient(to top,black 10%,transparent 80%);
        backdrop-filter: blur(5px);
        
        // * > {
        //     -webkit-mask-image: none;
        //     mask-image: none;
        //     z-index: 10;
        // }
    }

    .home_passedSessSection_itemsWrapper {
        @include flex(start, start);
        flex-wrap: wrap;
    }
}