@use "../assets.scss" as *;



#login_main {
    width: 100%;
    min-height: inherit;

    @include flex(center, center)
}

.login_formWrapper {
    width: clamp(60%, 90%, 800px);
    max-width: 800px;
    height: fit-content;
    // @extend .marginInlineCenter;
    // margin-top: clamp(200px, 15%, 350px);

    @include flex(space-between, center, 1.5rem);
    @extend .flexCol;

    .form {
        width: 100%;

        display: inherit;
        flex-direction: inherit;
    }

    label, .logSubmit, aside {
        margin-top: 3rem;
    }

    .logSubmit {
        @include flex(space-between, end);
        
        &--1El {
            @extend .logSubmit;
            justify-content: end;
        }
    }
    .mainBtn {
        min-width: 100px;
    }

    aside {
        align-self: flex-end;

        font-weight: 600;
    }
    .login_register_link{
        $afterIcoSize: 1.25em;
        display: inline-block;
        position: relative;
        
        color: inherit;
        font-size: 2rem;
        font-weight: inherit;
        text-decoration: none;

        &::after {
            width: $afterIcoSize;
            height: $afterIcoSize;

            content: "";
            display: inline-block;

            @extend .posAbsolute;
            bottom: 0;
            
            background-image: url("../img/ico_forward--blue.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &--right {
            @extend .login_register_link;
            margin-right: calc($afterIcoSize*2);

            &::after {
                right: calc($afterIcoSize - $afterIcoSize*3);
            }
        }
        &--left {
            @extend .login_register_link;
            margin-left: calc($afterIcoSize*2);

            &::after {
                left: calc($afterIcoSize - $afterIcoSize*3);
                transform: rotate(180deg);
            }
        }
    }
}
.login_formWrapper--register {
    @extend .login_formWrapper;

    aside {
        align-self: flex-start;
    }
}





.register_introTxt {
    width: 100%;
    text-align: left;

    .h2 {
        margin-bottom: 0;
    }
}
.register2_submit {
    @include flex(space-between, end);
}